h1, h2, h3, h4, h5 {
    line-height: 1.5;
}

/* NAVBAR */
.navbar {
    background-color: #0d6efd;
}

/* BANNER */
#banner {
    background-color: #0d6efd;
    color: #ffffff;
    padding: 100px 0 70px 0;
}

#banner img {
    width: 100%;
}

.btn-banner {
    margin: 8% 3% 5% 0;
}